@tailwind base;
@tailwind components;
@tailwind utilities;

#possible-move {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  opacity: 1;
  animation: posibility 2s ease-in-out infinite;
}

@keyframes posibility {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}